<!DOCTYPE html>
<html>
  <head>
    <title>Pvr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "custom/#{ params[:controller]}" %>
    <%= yield :custom_stylesheet %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= yield :custom_javascript %>
    <%= javascript_include_tag "custom/#{ params[:controller]}" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
